<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" />
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="2097151000" />
		  </requestFiltering>
	  </security>
	
  </system.webServer>
  <connectionStrings>
    <add name="neuro" connectionString="Data Source=SG2NWPLS14SQL-v09.shr.prod.sin2.secureserver.net;Integrated Security=False;User ID=ph15073610681;Password=Aiims@123;MultipleActiveResultSets=true;Connect Timeout=900;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient" />
    <add name="mycon" connectionString="Data Source=sg2nlmysql23plsk.secureserver.net;port=3306;Initial Catalog=TVDisplay;User Id=dashboard;password=Aiims@123;Connect Timeout=900;" providerName="MySql.Data.MySqlClient" />
    <add name="tvcon" connectionString="server=sg2nlmysql23plsk.secureserver.net;user id=dashboard;password=Aiims@123;database=TVDisplay" providerName="MySql.Data.MySqlClient" />
    <add name="OT" connectionString="Data Source=192.168.15.231,1433;Initial Catalog=dreamproject;User ID=sa; Password=aiims@123;MultipleActiveResultSets=true;Connection Timeout=900" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
	  <authorization>
		  <allow users="*" />
	  </authorization>
	  <machineKey validationKey="C8A3856DE212AA029EBC81B8B7F9581FECC9422C9CF570DDE09B95F7F18D5CE7D8476560E37137FA4B0DBED407682BF86FC96C806BB51268AD080C7162910A84" decryptionKey="201B3BEA3C30D9EA06F19B4429D5BCE0100ABEE8F1423BB2689D75889C587B77" validation="SHA1" decryption="AES" />
	  <authentication mode="Windows" />
	  <pages enableViewStateMac="true" />
	  <sessionState timeout="1440" mode="InProc" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="36000" maxRequestLength="52428800" targetFramework="4.7.2" />
	  <customErrors mode="Off" />
	  <trust level="Full" />
  </system.web>
	<system.codedom />
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="postgrate1" value="Server=192.168.15.16;Port=5432;Database=ehospital;User Id=postgres;Password=postgres" />
    <add key="postgrate" value="Server=192.168.15.16;Port=5432;Database=ehospital;User Id=postgres;Password=postgres" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>